body {
	background-color: #f2f2f2;
}

/* Header and navigation bar */

header {
	background-color: #1B9230;
	height: 82px;
	color: #FFFFFF;
	margin-bottom: 40px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-style: "Franklin Gothic Demi Cond";
	border-width: 0px;
	border-bottom-width: 3.5px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1B9230;
	border-style: solid;
	border-bottom-color: black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header img {
	float: left;
	width: 350px;
	height: 108px;
	padding-bottom: 20px;
	margin-left: 25px;
	margin-top: -11px;
}

header span {
	color: #4a2181;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B9230;
    float: right;
    margin-right:10%;
}

li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

li:first-child{
	margin-top: 25px;
	font-size: 30px;
}

li img{
	margin-bottom: 0;
	margin-top: 0;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
	font-size: 18px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.profilePicture{
	width: 50px;
	height: 50px;
	padding: 0;
	background-color: white;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 50px;
	margin-top: -6px;
}

.chatIcon{
	width: 35px;
	height: 35px;
	padding: 0;
	margin-top: 5px;
}

nav ul li a {
	text-decoration: none;
	display: inline-block;
	color: #FFFFFF;
}

/* Errors */
.alert-danger {
    padding: 0.5em;
    background-color: #f2dede;
    border: 1px solid #b94a48;
    color: #b94a48;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
    box-sizing: border-box;
}

/* Login and Register */
#base {
	width: 46.5%;
	margin-left: 35%;
	display: inline-block;
}

#registrationbutton {
	margin-left: 34%;
}

#backbutton {
	margin-left: 38%;
}

/* Tables */

th, td {
    border-bottom: 1px solid #ddd;
}

table {
    width: 60%;
    text-align: center;
}

th {
    height: 20px;
    background-color: #1B9230;
    color: white;
}

caption {
	margin-top: 30px;
	font-size: 20px;
}

#base td{
	padding: 2%;
}

tr:hover {
	background-color: #f5f5f5
}

/* Homepage */

#guidelines {
	width: 50%;
	position: absolute;
	left: 25%;
	display: inline-block;
}

#zoekMatches {
	position:absolute;
	left: 40%;
	display: inline-block;
	margin-top: 1%;
}

/* Profile page */

.password {
	display: none;
}

#changePassword, #closePassword {
	text-decoration: underline;
	cursor: pointer;
}

#changeProfile {
	float: left;
	margin-left: 25%;
	margin-top: 1%;
	width: 30%;
}

#profileTable tr td{
	padding: 2%;
}

#profilePicture {
	float: left;
	margin-top: 3%;
	width: 10%;
}

#profilePicture img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border-color: transparent;
	border-style: solid;
	border-width: 2px;
	margin-left: 40%;
	}

/* Stock page */

.productList {
	float: left;
	width: 50%;
	display: inline-block;
}

#addProduct {
	display: inline-block;
	float: left;
	width: 30%;
	margin-left: 20%;
}

/* Matches page */

#refresh {
	width: 30px;
	height: 30px;
	margin-left: 55%;
	margin-top: 2%;
	background-color: #1B9230;
}
#refresh img {
	width: 15px;;
}

#tableMatches {
	margin-top: 2%;
	overflow: auto;
}

#matchesTables {
	margin-left: 18.5%;
	width: 100%;
}

/* Chat Page */

#matches {
	width: 10%;
	float: left;
	margin-top: 2%;
	display: block;
	border: solid;
	border-radius: 15px;
	border-color: black;
	margin-left: 20%;
	max-height: 500px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#invisible{
	display: none;
}

#userChat{
	margin-top: -20px;
}

#match {
	margin-top: 2%;
	padding: 3%;
	cursor: pointer;
}

#match:hover {
	background-color: lightgray;
}

#match:active {
	background-color: lightgray;
}

#chatScreen {
	border: solid;
	border-radius: 15px;
	border-color: black;
	padding: 1%;
	margin-top: 2%;
	margin-left: 1%;
	width: 40%;
	float: left;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: block;
}

.messageBoxSender{
	margin-left: 40%;
	margin-bottom: 15px;
	border: solid 2px black;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 40%;
	float: right;
	background-color: #1B9230; 	
}


.messageSender{
	margin-left: 58%;
	padding: 0;
	margin-bottom:-30px ;
	font-size: 12px;
}

.messageTimeSender{
	margin-left: 82%;
	padding: 0;
	font-size: 10px;
}

.messageBoxReceiver{
	margin-bottom: 15px;
	border: solid 2px black;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 40%;
	background-color: #c0c0c0; 	
}


.messageReceiver{
	padding: 0;
	margin-bottom: -10px;
	font-size: 12px;
}

.messageTimeReceiver{
	margin-left: 24%;
	padding: 0;
	font-size: 10px;
}

#messages{
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	max-height: 300px;
	padding: 10px;
	overflow: auto;
}

#message{
	resize: vertical;
	width: 50%;
	margin-top: 10%;
	height: 50%;
	
}

#message:active {
	width: auto;
}

#message:focus {
	min-width: 50%;
}

#userID{
	padding: 10px;
}

#inputfield {
	margin-top: -10%;
}

#submit {
	margin-left: 52.5%;
	margin-top: -3.5%;
}

/* History page */

#searchHistory{
	margin-left: 35%;
	margin-top: 5%;
}

#searchHistory h4{
	margin-left: 6%;
}

#searchHistory span{
	color: #f2f2f2;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.matchTableOverview{
	margin-bottom: 2%;
}
#overviewButton{
	margin-top: 10%;
	margin-left: 70%;
}
/* POP-UP screen Matches Page */
 
/* The Modal (background) */
div[id*='modal'] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div[id*='modalConfirm'] {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modalConfirm-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modalConfirm-content input, .modalConfirm-content textarea  {
    float: right;
    margin-right: 55%;
}

.modalConfirm-content textarea{
	display: inline-block;
}

/* The Close Button */
span[class^='close'] {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span[class^='close']:hover,
span[class^='close']:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span[class^='closeConfirm'] {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span[class^='closeConfirm']:hover,
span[class^='closeConfirm']:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:800px) {
  	header img {
		width: 275px;
		height: 95px;
		margin-top: -5px;
	}

	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #1B9230;
    	float: right;
    	margin-right:10%;
	}

	li {
    	float: left;
    	margin-left: 5px;
    	margin-right: 5px;
    	margin-top: 20px;
	}

	li:first-child{
		margin-top: 30px;
		font-size: 25px;
	}	


	.productList {
		float: left;
		width: 30%;
		margin-left: 25%;
		display: inline-block;
	}

	#addProduct {
		display: inline-block;
		float: left;
		width: 20%;
		margin-left: 5%;
	}	

	#refresh {
		width: 30px;
		height: 30px;
		margin-left: 75%;
		margin-top: 2%;
		background-color: #1B9230;
	}	
	
	#refresh img {
		width: 15px;;
	}

	#tableMatches {
		margin-top: 2%;
		overflow: auto;
	}

	#matchesTables {
		width: 75%;
		overflow: auto;
	}

	#searchHistory{
		margin-left: 25%;
		margin-top: 5%;
	}

	#searchHistory h4{
		margin-left: 10%;
	}

	#searchHistory span{
		color: #f2f2f2;
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}

	#matches {
		width: 20%;
		float: left;
		margin-top: 2%;
		display: block;
		border: solid;
		border-radius: 15px;
		border-color: black;
		margin-left: 10%;
		max-height: 500px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}	

	#invisible{
		display: none;
	}

	#userChat{
		margin-top: -20px;
	}

	#match {
		margin-top: 2%;
		padding: 3%;
		cursor: pointer;
	}

	#match:hover {
		background-color: lightgray;
	}

	#match:active {
		background-color: lightgray;
	}

	#chatScreen {
		border: solid;
		border-radius: 15px;
		border-color: black;
		padding: 1%;
		margin-top: 2%;
		margin-left: 1%;
		width: 45%;
		float: left;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		display: block;
	}

	#changeProfile {
		float: left;
		margin-left: 10%;
		margin-top: 1%;
		width: 30%;
	}

	#profilePicture {
		float: left;
		margin-top: 3%;
		margin-left: 15%;
		width: 10%;
	}

	#profilePicture img{
		width: 200px;
		height: 200px;
		border-radius: 100px;
		border-color: transparent;
		border-style: solid;
		border-width: 2px;
		margin-left: 40%;
	}
}
